name: CI

on: [ push, pull_request ]

jobs:
  build:
    strategy:
      matrix:
        libfranka-version: [0.7.1, 0.8.0, 0.9.2, 0.12.1, 0.13.3, 0.14.2, 0.17.0, 0.18.0]
    uses: ./.github/workflows/build_and_test.yml
    with:
      libfranka-version: ${{ matrix.libfranka-version }}
